.card{
  position: relative;
  height: 250px;
  border-radius: 5px;
  color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}
.card-description{
  position: absolute;
  left: 5px;
  bottom: 5px
}
.card-category{
  font-size: 20px;
}

